//fonts
$fontHeader: 'Quicksand';
$fontMain: 'Inconsolata';

//colors
$colorBackground: rgb(224, 224, 224);
$colorHeader: linear-gradient(to bottom right, rgb(14, 90, 4), rgb(10, 66, 2));
$colorFontHeader: rgb(255,255,255);
$colorNavbar:linear-gradient(to bottom right, rgb(120, 219, 107), rgb(98, 219, 82));
$colorFontNavbar:rgb(0,0,0);
$colorNavbarHover:linear-gradient(to bottom right, rgb(255, 235, 232), rgb(224, 212, 171));
$colorNavbarActive:linear-gradient(to bottom right, rgb(105, 158, 98), rgb(80, 173, 68));
$colorFooter: linear-gradient(to bottom right, rgb(14, 90, 4), rgb(10, 66, 2));
$colorFontFooter:rgb(255,255,255);