@import "_common_elements.scss";
@import "grid_items.scss";

.grid-main-container{
    display: grid;
    grid-template-rows: auto auto 1fr;
    min-height: 100%;
    grid-template-columns: 100%;
    grid-template-areas:
    'header'
    'top-navbar'
    'article'
    'footer';
    gap: 5px;
}


